name: Pull Request

on:
  pull_request:
    branches: [main, develop]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      # - name: Lint
      #   run: pnpm nx affected -t lint
      - name: Unit Tests
        run: pnpm nx affected -t test
      - name: Build
        run: pnpm nx affected -t build

  api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore dependencies
        run: dotnet restore apps/api/Voli.Api.csproj
      - name: Build
        run: dotnet build apps/api/Voli.Api.csproj --no-restore
      - name: Test
        run: dotnet test apps/api/Voli.Api.csproj --no-build --verbosity normal

